$background: #202020;

// As hex codes
$color-primary-0: #015451; // Main Primary color
$color-primary-1: #217C78;
$color-primary-2: #0F6864;
$color-primary-3: #003D3B;
$color-primary-4: #002423;

// As RGBa codes
$rgba-primary-0: rgba(1, 84, 81, 1); // Main Primary color
$rgba-primary-1: rgba(33, 124, 120, 1);
$rgba-primary-2: rgba(15, 104, 100, 1);
$rgba-primary-3: rgba(0, 61, 59, 1);
$rgba-primary-4: rgba(0, 36, 35, 1);
